@namespace DevToys.Blazor.Components
@inherits RicherMonacoEditorBase

<CascadingValue Value="this" IsFixed="true">
    <div id="@(Id)-monaco-container"
         class="monaco-editor-standalone-with-header @(FinalCssClasses)"
         style="@(Style)"
         @attributes="AdditionalAttributes">

        @if (!string.IsNullOrWhiteSpace(Header))
        {
            <TextBlock Appearance="TextBlockAppearance.Body" Class="monaco-editor-standalone-header" Text="@Header" />
        }

        <div class="monaco-editor-standalone-container @(IsEnabled ? string.Empty : "disabled")"
             @ref=Element>

            <ProgressRing id="@($"{Id}-loading")"
                          IsIndeterminate="@ShowLoading"
                          Style="@((ShowLoading ? string.Empty : "display: none;"))"/>

            <div id="@Id" class="monaco-editor-standalone-instance"></div>

            <div class="monaco-editor-standalone-underline" />
        </div>
    </div>
</CascadingValue>