@namespace DevToys.MauiBlazor.Components
@inherits MefLayoutComponentBase

<a id="@Id"
   href="@Href"
   class="@CssClasses"
   title="@Title"
   @ref=Element
   @onclick=@OnClickAsync
   @onclick:preventDefault="true"
   @attributes="@AdditionalAttributes">
    @ChildContent
</a>
