@namespace DevToys.MauiBlazor.Components
@inherits NavbarItem

<CascadingValue Value="this" IsFixed="true">
    <NavbarItem Class="nav-group" Page="@Page" Icon="@(Microsoft.Fast.Components.FluentUI.FluentIcons.Home)" Text="@Text">
        <div @onclick:stopPropagation="true" @onclick:preventDefault="true">
            <Button Type="@ButtonType.Button" Appearance="@ButtonAppearance.Stealth" IconOnly="true"
                    class="collapsed"
                    @onclick=OnClickHandler
                    aria-expanded="true">
                <i class="icon-active icon-ic_fluent_chevron_down_48_regular"></i>
            </Button>
        </div>
    </NavbarItem>
    <li class="nav-item nav-group-child">
        <ul aria-labelledby="collapse-list-converters" class="@GroupClass" id="collapse-list-converters">
            @ChildContent
        </ul>
    </li>
</CascadingValue>