@page "/"

@using DevToys.Blazor.Pages.SubPages
@using DevToys.Core.Tools.ViewItems;
@namespace DevToys.Blazor.Pages
@inherits MefComponentBase

<!-- Provider for popover -->
<PopoverProvider/>

<!-- Overlay that covers the whole window for context menus -->
<Overlay ZIndex="80000"
         Visible="ContextMenuService.IsContextMenuOpened"
         OnClick="ContextMenuService.OnCloseContextMenuRequested" />

<!-- Navigation View -->
<NavBar TElement="INotifyPropertyChanged"
        MenuItemsSource="@ViewModel.HeaderAndBodyToolViewItems"
        FooterMenuItemsSource="@ViewModel.FooterToolViewItems"
        CanGoBack="@ViewModel.CanGoBack"
        @bind-SelectedItem="ViewModel.SelectedMenuItem"
        OnBackButtonClicked="OnBackButtonClicked"
        OnHiddenStateChanged="OnHiddenStateChanged">
    <!-- Header -->
    <Header>
        <TextBlock>DevToys</TextBlock>
    </Header>

    <!-- Item design -->
    <NavBarItemIconTemplate Context="item">
        @{
            var iconGlyph = '\0';
            var iconFontFamily = string.Empty;
            if (item is GuiToolViewItem guiToolViewItem)
            {
                iconGlyph = guiToolViewItem.ToolInstance.IconGlyph;
                iconFontFamily = guiToolViewItem.ToolInstance.IconFontName;
            }
            else if (item is GroupViewItem groupViewItem)
            {
                iconGlyph = groupViewItem.IconGlyph;
                iconFontFamily = groupViewItem.IconFontName;
            }

            <FontIcon FontFamily="@iconFontFamily" Glyph="@iconGlyph" />
        }
    </NavBarItemIconTemplate>

    <NavBarItemTitleTemplate Context="item">
        @{
            var title = string.Empty;
            if (item is GuiToolViewItem guiToolViewItem)
            {
                title = guiToolViewItem.MenuDisplayTitle;
            }
            else if (item is GroupViewItem groupViewItem)
            {
                title = groupViewItem.DisplayTitle;
            }

            <TextBlock NoWrap="true">@title</TextBlock>
        }
    </NavBarItemTitleTemplate>

    <!-- Content of the NavBar-->
    <Content>
        @if (!IsTransitioning)
        {
            if (ViewModel.SelectedMenuItem is GuiToolViewItem guiToolViewItem)
            {
                <div class="entranceThemeTransition">
                    <TextBlock Appearance="TextBlockAppearance.TitleLarge">@guiToolViewItem.ToolInstance.LongOrShortDisplayTitle</TextBlock>
                    <!-- TODO: Place here a component that takes in argument the guiToolViewItem -->

                    <Button IsEnabled="true" @onclick="OnSetFavorite">Set favorite</Button>
                    <Button IsEnabled="false">Set favorite</Button>
                    <Button IsEnabled="true" Appearance="ButtonAppearance.Accent">Set favorite</Button>
                    <Button IsEnabled="false" Appearance="ButtonAppearance.Accent">Set favorite</Button>
                    <Button IsEnabled="true" Appearance="ButtonAppearance.Stealth">Set favorite</Button>
                    <Button IsEnabled="false" Appearance="ButtonAppearance.Stealth">Set favorite</Button>
                    <TextBox Header="First name" Placeholder="Normal" Style="margin-top: 12px; margin-left: 8px; margin-right: 8px;" />
                    <TextBox Header="Middle name" Placeholder="Read only" IsReadOnly="true" Style="margin-top: 12px; margin-left: 8px; margin-right: 8px;" />
                    <TextBox Header="Last name" Placeholder="Disabled" IsEnabled="false" Style="margin-top: 12px; margin-left: 8px; margin-right: 8px;" />
                </div>
            }
            else if (ViewModel.SelectedMenuItem is GroupViewItem groupToolViewItem)
            {
                <ToolGroup GroupViewItem="@groupToolViewItem" />
            }
        }
    </Content>
</NavBar>