@namespace DevToys.Blazor.Pages
@inherits LayoutComponentBase

<div class="main-layout @(Class)"
     data-theme="@ThemeName"
     data-compactmode="@IsCompactMode"
     data-usercompactmode="@UserIsCompactModePreference"
     data-uselessanimations="@UseLessAnimations">
        @Body
</div>