@namespace DevToys.Blazor.Components
@inherits StyledComponentBase

<CascadingValue Value="this" IsFixed="true">
    <Container HorizontalAlignment="@HorizontalAlignment"
               VerticalAlignment="@VerticalAlignment"
               Width="@Width"
               Height="@Height"
               IsVisible="@IsVisible">
        <div id=@Id
             class="scroll-viewer @(FinalCssClasses)"
             style="@(Style)"
             @ref=Element
             @attributes="AdditionalAttributes">
             @ChildContent
        </div>
    </Container>
</CascadingValue>