@namespace DevToys.Blazor.Components
@inherits JSStyledComponentBase

<CascadingValue Name="ParentIsEnabled" Value="@IsActuallyEnabled">
    <Container HorizontalAlignment="@HorizontalAlignment"
               VerticalAlignment="@VerticalAlignment"
               Width="@Width"
               Height="@Height"
               MarginLeft="@MarginLeft"
               MarginRight="@MarginRight"
               MarginTop="@MarginTop"
               MarginBottom="@MarginBottom"
               PaddingLeft="@PaddingLeft"
               PaddingRight="@PaddingRight"
               PaddingTop="@PaddingTop"
               PaddingBottom="@PaddingBottom"
               IsEnabled="@IsActuallyEnabled"
               IsVisible="@IsVisible">
        <div id="@Id"
             class="scroll-viewer @(_scrollViewerCssClasses)"
             @ref=Element
             @attributes="AdditionalAttributes">
            <div class="@(FinalCssClasses)" style="@(Style); grid-row: 1;">
                @ChildContent
            </div>
        </div>
    </Container>
</CascadingValue>