@namespace DevToys.Blazor.Components

@inherits JSStyledComponentBase

<CascadingValue Value="this" IsFixed="true">
    <Container HorizontalAlignment="@HorizontalAlignment"
               VerticalAlignment="@VerticalAlignment"
               Width="@Width"
               Height="@Height"
               MarginLeft="@MarginLeft"
               MarginRight="@MarginRight"
               MarginTop="@MarginTop"
               MarginBottom="@MarginBottom"
               PaddingLeft="@PaddingLeft"
               PaddingRight="@PaddingRight"
               PaddingTop="@PaddingTop"
               PaddingBottom="@PaddingBottom"
               IsVisible="@IsVisible">
        <button id=@Id
                role="button"
                class="@(FinalCssClasses)"
                style="@(Style)"
                tabindex="0"
                @ref=Element
                @attributes="AdditionalAttributes">
            @ChildContent
        </button>
    </Container>
</CascadingValue>