@namespace DevToys.Blazor.Components
@inherits JSStyledComponentBase

<CascadingValue Name="ParentIsEnabled" Value="@IsActuallyEnabled">
    <Container HorizontalAlignment="@HorizontalAlignment"
               VerticalAlignment="@VerticalAlignment"
               Width="@Width"
               Height="@Height"
               MarginLeft="@MarginLeft"
               MarginRight="@MarginRight"
               MarginTop="@MarginTop"
               MarginBottom="@MarginBottom"
               PaddingLeft="@PaddingLeft"
               PaddingRight="@PaddingRight"
               PaddingTop="@PaddingTop"
               PaddingBottom="@PaddingBottom"
               IsEnabled="@IsActuallyEnabled"
               IsVisible="@IsVisible">
        <div id="@Id"
             @ref="@Element"
             class="split-grid @FinalCssClasses"
             style="@StyleValue"
             @attributes="AdditionalAttributes">
            <Container IsEnabled="@IsActuallyEnabled">
                @LeftOrTopCellContent
            </Container>
            <div @ref="@_gutterElement" class="split-grid-gripper" style="@GutterStyle">
                <FontIcon Glyph="@GripperGlyph" />
            </div>
            <Container IsEnabled="@IsActuallyEnabled">
                @RightOrBottomCellContent
            </Container>
        </div>
    </Container>
</CascadingValue>