@namespace DevToys.Blazor.Components.UIElements
@using DevToys.Api;
@inherits ComponentBase

<Button id="@UIButton.Id"
        IsVisible="@UIButton.IsVisible"
        IsEnabled="@UIButton.IsEnabled"
        HorizontalAlignment="@UIButton.HorizontalAlignment"
        VerticalAlignment="@UIButton.VerticalAlignment"
        Appearance="@((UIButton.IsAccent ? ButtonAppearance.Accent : ButtonAppearance.Neutral))"
        @onclick=OnButtonClickAsync>
    <TextBlock Text="@UIButton?.Text" />
</Button>