@namespace DevToys.MauiBlazor.Components
@inherits StyledLayoutComponentBase
@typeparam TKey
@typeparam TElement

<CascadingValue Value="this" IsFixed="true">
    <div id=@Id
         class="@CssClasses"
         @ref=Element
         @attributes="AdditionalAttributes">

        @Header

        @if (ItemsSource is not null)
        {
            Guard.IsNotNull(ItemTemplate);

            foreach (IGrouping<TKey, TElement> group in ItemsSource)
            {
                <div class="grid-view-group">
                    <div class="grid-view-group-header">
                        @if (GroupHeaderTemplate is null)
                        {
                            @group.Key?.ToString()
                        }
                        else
                        {
                            @GroupHeaderTemplate(group.Key)
                        }
                    </div>

                    <ul class="grid-view-items-container">
                        @foreach (TElement item in group)
                        {
                            <li class="grid-view-item"
                                style="min-width: @ItemMinWidth">
                                @ItemTemplate(item)
                            </li>
                        }
                    </ul>
                </div>
            }
        }

        @Footer
    </div>
</CascadingValue>