@inherits MefLayoutComponentBase

<FluentDesignSystemProvider BaseLayerLuminance=@_baseLayerLuminanceValue>
    <div id="container">
        <StackPanel Orientation="Orientation.Horizontal" Width="100%">
            <div>
                <NavigationView Width="320">
                    <MenuItemsSource>
                        <NavigationViewItem Text="Never" Icon="@(FluentIcons.LeafOne)" />
                        <NavigationViewItem Text="Gonna" Icon="@(FluentIcons.LeafOne)" />
                        <NavigationViewItem Text="Give" Icon="@(FluentIcons.LeafOne)">
                            <NavigationViewItem Text="You" Icon="@(FluentIcons.LeafOne)" />
                            <NavigationViewItem Text="Up" Icon="@(FluentIcons.LeafTwo)" />
                        </NavigationViewItem>
                        <NavigationViewItem Text="Never" Icon="@(FluentIcons.LeafOne)">
                            <NavigationViewItem Text="Gonna" Icon="@(FluentIcons.LeafOne)" />
                            <NavigationViewItem Text="Let" Icon="@(FluentIcons.LeafOne)" />
                        </NavigationViewItem>
                        <NavigationViewItem Text="You" Icon="@(FluentIcons.LeafOne)">
                            <NavigationViewItem Text="Down" Icon="@(FluentIcons.LeafTwo)" />
                        </NavigationViewItem>
                    </MenuItemsSource>
                    <FooterMenuItemsSource>
                        <NavigationViewItem Text="Settings" Icon="@(FluentIcons.Settings)" />
                    </FooterMenuItemsSource>
                </NavigationView>
            </div>

            <main>
                <article>
                    @Body
                </article>
            </main>
        </StackPanel>
    </div>
</FluentDesignSystemProvider>