@namespace DevToys.Blazor.Components
@inherits StyledComponentBase

<CascadingValue Value="this" IsFixed="true">
    <Card class="expander" data-expanded="@IsExpanded.ToString().ToLower()" Icon=@Icon Title=@Title
        Description=@Description>
        <Control>
            <Button Class="button" Appearance="@ButtonAppearance.Stealth" @onclick="OnClickAsync"
                aria-label="Toggle Expander" aria-expanded="@IsExpanded.ToString()">
                <FontIcon Glyph="@('\uf2a6')" />
            </Button>
        </Control>
    </Card>
    <div class="card" aria-expanded="@IsExpanded.ToString().ToLower()">
        @(ChildContent)
    </div>
</CascadingValue>