@namespace DevToys.Blazor.Components

@inherits JSStyledComponentBase

<CascadingValue Value="this" IsFixed="true">
    <Container HorizontalAlignment="@HorizontalAlignment"
               VerticalAlignment="@VerticalAlignment"
               Width="@Width"
               Height="@Height"
               MarginLeft="@MarginLeft"
               MarginRight="@MarginRight"
               MarginTop="@MarginTop"
               MarginBottom="@MarginBottom"
               PaddingLeft="@PaddingLeft"
               PaddingRight="@PaddingRight"
               PaddingTop="@PaddingTop"
               PaddingBottom="@PaddingBottom"
               IsVisible="@IsVisible">
        <label
            id=@Id
            role="button"
            class="toggle-switch-container @(IsEnabled ? string.Empty : "disabled")"
            style="@(Style)"
            @onclick:stopPropagation="@IsEnabled"
            @ref=Element>
            <TextBlock Text="@Text" NoWrap="true" />
            <input
                type="checkbox"
                tabindex="0"
                class="toggle-switch @(FinalCssClasses)"
                checked="@IsOn"
                disabled="@(!IsEnabled)"
                @onclick:preventDefault="@(!IsEnabled)"
                @onchange="OnChange"
                @attributes="AdditionalAttributes" />
        </label>
    </Container>
</CascadingValue>