@page "/"

@using DevToys.Core.Tools.ViewItems;

@inherits MefComponentBase

@*<Navbar Id="navbar"
        IsCollapsible="true"
        HasSearch="false"
        IsVertical="true"
        MenuItemsSource="@ViewModel.HeaderAndBodyToolViewItems"
        FooterMenuItemsSource="@ViewModel.FooterToolViewItems"
        @bind-SelectedItem="ViewModel.SelectedMenuItem">

    <Content>
        @if (!IsTransitioning)
        {
            if (ViewModel.SelectedMenuItem is GuiToolViewItem guiToolViewItem)
            {
                <div class="entranceThemeTransition">
                    <h1>You selected a TOOL: @guiToolViewItem.ToolInstance.LongOrShortDisplayTitle</h1>
                    <!-- TODO: Place here a component that takes in argument the guiToolViewItem -->

                    <Button @onclick="OnSetFavoriteAsync">Set favorite</Button>
                </div>
            }
            else if (ViewModel.SelectedMenuItem is GroupViewItem groupToolViewItem)
            {
                <ToolGroup GroupViewItem="@groupToolViewItem" />
            }
        }
    </Content>
</Navbar>*@

<NavBar>
    <Header>
        <TextBlock>DevToys</TextBlock>
    </Header>
    <Content>
        @if (!IsTransitioning)
        {
            if (ViewModel.SelectedMenuItem is GuiToolViewItem guiToolViewItem)
            {
                <div class="entranceThemeTransition">
                    <TextBlock Appearance="TextBlockAppearance.TitleLarge">@guiToolViewItem.ToolInstance.LongOrShortDisplayTitle</TextBlock>
                    <!-- TODO: Place here a component that takes in argument the guiToolViewItem -->

                    <Button IsEnabled="true" @onclick="OnSetFavorite">Set favorite</Button>
                    <Button IsEnabled="false">Set favorite</Button>
                    <Button IsEnabled="true" Appearance="ButtonAppearance.Accent">Set favorite</Button>
                    <Button IsEnabled="false" Appearance="ButtonAppearance.Accent">Set favorite</Button>
                    <Button IsEnabled="true" Appearance="ButtonAppearance.Stealth">Set favorite</Button>
                    <Button IsEnabled="false" Appearance="ButtonAppearance.Stealth">Set favorite</Button>
                </div>
            }
            else if (ViewModel.SelectedMenuItem is GroupViewItem groupToolViewItem)
            {
                <ToolGroup GroupViewItem="@groupToolViewItem" />
            }
        }
    </Content>
</NavBar>