@inherits MefLayoutComponentBase

<CascadingValue Value="this" IsFixed="true">
    <GridView Class="entranceThemeTransition"
              ItemsSource="@ViewModel.Tools"
              ItemMinWidth="330"
              style="padding: 2.5rem"
              OnItemClick=@OnToolSelected>
        <Header>
            <div class="subtitle-text-block" style="font-size: 24px !important">@ViewModel.HeaderText</div>
        </Header>
        <GroupHeaderTemplate Context="item">
            <div class="subtitle-text-block">@item</div>
        </GroupHeaderTemplate>
        <ItemTemplate Context="item">
            <div class="tool-group-grid-view-item">
                <div class="icon">
                    <FontIcon Class="fonticon" FontFamily="@item.IconFontName" Glyph="@item.IconGlyph" />
                </div>
                <span class="title body-strong-text-block">@item.LongOrShortDisplayTitle</span>
                <span class="description caption-text-block">@item.Description</span>
                <div class="buttons" @onclick:stopPropagation="true">
                    <Button Class="button"
                            Appearance="@ButtonAppearance.Stealth"
                            IconOnly="true"
                            @onclick="() => OnOpenInNewWindow(item)">
                        <FontIcon Class="fonticon" FontFamily="FluentSystemIcons" Glyph="@('\uEE7A')" />
                    </Button>
                </div>
            </div>
        </ItemTemplate>
    </GridView>
</CascadingValue>