@namespace DevToys.Blazor.Components

@inherits JSStyledComponentBase

<CascadingValue Value="this" IsFixed="true">
    <Container HorizontalAlignment="@HorizontalAlignment"
               VerticalAlignment="@VerticalAlignment"
               Width="@Width"
               Height="@Height"
               IsVisible="@IsVisible">
        <label id=@Id
               class="radio-button-container @(IsEnabled ? string.Empty : "disabled")"
               style="@(Style)"
               @ref=Element>
            <input type="radio"
                   tabindex="0"
                   class="radio-button @(FinalCssClasses)"
                   checked="@IsChecked"
                   disabled="@(!IsEnabled)"
                   name="@Group"
                   @onclick:preventDefault="@(!IsEnabled)"
                   @onchange="OnChange"
                   @attributes="AdditionalAttributes" />
            <TextBlock Text="@Text" />
        </label>
    </Container>
</CascadingValue>