@namespace DevToys.Blazor.Components
@inherits StyledComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div id=@Id
         class="drop-down-list-with-header @(FinalCssClasses)"
         style="@(Style)"
         @attributes="AdditionalAttributes">

        @if (!string.IsNullOrWhiteSpace(Header))
        {
            <TextBlock Appearance="TextBlockAppearance.Body" Class="drop-down-list-header" Text="@Header" />
        }

        <Button Class="@($"drop-down-list-button {FinalCssClasses}")"
                Appearance="ButtonAppearance.Neutral"
                IsEnabled="@IsEnabled"
                @onclick="@ToggleDropDown">
            @ChildContent
            <div class="arrow-down-icon">
                <FontIcon Glyph="@('\uf2a6')"/>
            </div>
        </Button>

        <Popover Open="_isOpen"
                 AnchorOrigin="Origin.BottomCenter"
                 TransformOrigin="Origin.TopCenter"
                 RelativeWidth="false"
                 Class="drop-down-list-drop-down"
                 @ontouchend:stopPropagation>
            <CascadingValue Value="@this" IsFixed="true">
                <FocusTrapper Style="display: contents;"
                              OnEscapeKeyPressed="OnEscapeKeyPressed"
                              @onfocusout="OnEscapeKeyPressed">
                    <ListBox @ref="_listBox"
                             Items="Items"
                             Context="item"
                             Role="menu"
                             OverrideDefaultItemTemplate="true"
                             Virtualize="true"
                             RaiseSelectionEventOnKeyboardNavigation="false"
                             OnSelectedIndexChanged="OnDropDowlListItemSelected"
                             UseNativeScrollBar="true"
                             Class="context-menu-list-box"
                             Style="max-height: 400px">
                        <ItemTemplate>
                            <li role="menuitem"
                                class="@($"context-menu-item {(_listBox!.SelectedItem == item ? "selected" : string.Empty)} {(item.IsEnabled ? string.Empty : "disabled")}")"
                                aria-disabled="@(item.IsEnabled ? string.Empty : "true")">
                                <div class="icon-container">
                                    <FontIcon Glyph="@item.IconGlyph" FontFamily="@item.IconFontFamily" />
                                </div>
                                <TextBlock Class="text"
                                           NoWrap="true"
                                           Text="@item.Text" />
                            </li>
                        </ItemTemplate>
                    </ListBox>
                </FocusTrapper>
            </CascadingValue>
        </Popover>
    </div>
</CascadingValue>