@namespace DevToys.Blazor.Components
@inherits StyledComponentBase

<CascadingValue Value="this" IsFixed="true">
    <Container HorizontalAlignment="@HorizontalAlignment"
               VerticalAlignment="@VerticalAlignment"
               Width="@Width"
               Height="@Height"
               MarginLeft="@MarginLeft"
               MarginRight="@MarginRight"
               MarginTop="@MarginTop"
               MarginBottom="@MarginBottom"
               PaddingLeft="@PaddingLeft"
               PaddingRight="@PaddingRight"
               PaddingTop="@PaddingTop"
               PaddingBottom="@PaddingBottom"
               IsVisible="@IsVisible">
        <div class="card @(FinalCssClasses)"
             style="@(Style)"
             @ref=Element
             @attributes="AdditionalAttributes">
            <div class="card-header">
                <FontIcon class="card-icon"
                          Glyph="@IconGlyph"
                          FontFamily="@IconFontFamily"/>
                <div class="card-context">
                    <div class="card-title">
                        <TextBlock Appearance="TextBlockAppearance.Body" Text="@Title" />
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Description))
                    {
                        <div class="card-description">
                            <TextBlock Appearance="TextBlockAppearance.Caption" Text="@Description" />
                        </div>
                    }
                </div>
            </div>

            @if (Control is not null)
            {
                <div class="card-control">
                    @Control
                </div>
            }
        </div>
    </Container>
</CascadingValue>